<div class="header__icons">
  {%- if section.settings.show_search -%}
  <div>
    <a href="{{ routes.search_url }}" class="btn icon-search search-form" title="{{ 'general.search.search' | t }}" data-search-drawer="addsearch">
      <svg  x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" >
        <path d="M18.7,17.4l-3.2-3.2c1.3-1.6,2-3.5,2-5.5c0-4.8-3.9-8.6-8.6-8.6C4,0.1,0.1,4,0.1,8.7s3.8,8.6,8.5,8.6c2,0,3.9-0.7,5.5-2  l3.2,3.2c0.2,0.2,0.4,0.3,0.6,0.3c0.3,0,0.4-0.1,0.6-0.3C18.9,18.3,18.9,17.8,18.7,17.4z M15.7,8.7c0,3.8-3.1,6.9-6.9,6.9  c-3.8,0-6.9-3.1-6.9-6.9S5,1.8,8.8,1.8C12.6,1.8,15.7,4.9,15.7,8.7z"/>
      </svg>
    </a>
  </div>
  {%- endif -%}
  {%- if shop.customer_accounts_enabled -%}                      
  <div class="customer-links">
    <a class="acc-links text-hover acc-sign-in" 
       id="customer_login_link" href="{%- if customer -%}{{- routes.account_url -}}{%-else-%}{{ routes.account_login_url }}{%- endif -%}"
       title="{%- if customer -%}{{ 'customer.account_fallback' | t }}{%-else-%}{{ 'customer.log_in' | t }}{%- endif -%}">
      <svg x="0px" y="0px" width="19px" height="19px" viewBox="0 0 19 19" >        
        <g>
          <path d="M13.5,11.3h-8c-2.6,0-4.8,2.2-4.8,4.8v2c0,0.5,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8v-2c0-1.7,1.5-3.2,3.2-3.2h8   c1.7,0,3.2,1.5,3.2,3.2v2c0,0.5,0.3,0.8,0.8,0.8s0.8-0.3,0.8-0.8v-2C18.3,13.5,16.1,11.3,13.5,11.3z"/>
          <path d="M9.5,9.7c2.6,0,4.8-2.2,4.8-4.8c0-2.6-2.2-4.8-4.8-4.8S4.7,2.3,4.7,4.9C4.7,7.5,6.9,9.7,9.5,9.7z M6.3,4.9   c0-1.7,1.5-3.2,3.2-3.2s3.2,1.5,3.2,3.2c0,1.7-1.5,3.2-3.2,3.2S6.3,6.6,6.3,4.9z"/>
        </g>
      </svg>
    </a>
  </div>
  {%- endif -%}
  <div class="wrapper-top-cart">
    <a href="{{ routes.cart_url }}" title="{{ 'templates.cart.cart' | t }}" class="cart-icon {% if settings.enable_cart_drawer and template != 'cart' %}openCartDrawer{% endif %}">
      <svg  x="0px" y="0px" viewBox="0 0 19 19">
        <g>
          <g>
            <path d="M18.6,4.4c-0.3-0.4-0.9-0.7-1.4-0.7H4.6L4.3,2.3C4.1,1.5,3.3,0.9,2.5,0.9H0.6C0.3,0.9,0,1.2,0,1.5s0.3,0.6,0.6,0.6h1.9
              c0.3,0,0.5,0.2,0.6,0.5l2.3,9.2c0.2,0.8,0.9,1.4,1.8,1.4h8.6c0.8,0,1.6-0.6,1.8-1.4l1.4-5.8C19.1,5.4,19,4.8,18.6,4.4L18.6,4.4
              L18.6,4.4z M17.8,5.6l-1.4,5.8c-0.1,0.3-0.3,0.5-0.6,0.5H7.2c-0.3,0-0.5-0.2-0.6-0.5L4.9,4.9h12.2c0.2,0,0.4,0.1,0.5,0.2
              C17.8,5.3,17.8,5.5,17.8,5.6L17.8,5.6L17.8,5.6z"/>
            <path d="M7.6,13.9c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S8.7,13.9,7.6,13.9L7.6,13.9z M7.6,16.6c-0.4,0-0.8-0.3-0.8-0.8
              S7.1,15,7.6,15s0.8,0.3,0.8,0.8S8,16.6,7.6,16.6z"/>
            <path d="M15.1,13.9c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2C17.1,14.7,16.2,13.9,15.1,13.9L15.1,13.9z M15.1,16.6
              c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8s0.8,0.3,0.8,0.8S15.5,16.6,15.1,16.6L15.1,16.6z"/>
          </g>
        </g>
        <path d="M51.3,17.3l-3.2-3.2c1.3-1.6,2-3.5,2-5.5c0-4.8-3.9-8.6-8.6-8.6c-4.9,0-8.8,3.9-8.8,8.6s3.8,8.6,8.5,8.6c2,0,3.9-0.7,5.5-2
          l3.2,3.2c0.2,0.2,0.4,0.3,0.6,0.3c0.3,0,0.4-0.1,0.6-0.3C51.5,18.2,51.5,17.7,51.3,17.3z M48.3,8.6c0,3.8-3.1,6.9-6.9,6.9
          c-3.8,0-6.9-3.1-6.9-6.9s3.1-6.9,6.9-6.9C45.2,1.7,48.3,4.8,48.3,8.6z"/>
        </svg>
      <span class="cartCount" data-cart-count="" {% if cart.item_count == 0 %}style="display:none"{% endif %}>
      </span>
    </a>
  </div>
</div>